# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Editor and IDE files
.idea/

# Lockfiles
Brewfile.lock.json

# Compiled ZSH plugin files
.zsh_plugins.zsh
zsh/.config/zsh/.zcompdump*

# linear-cli
linear-cli/Library/Application Support/linear-cli/cache
linear-cli/Library/Application Support/linear-cli/update.json
